<html>
  <head>
    <title>Unused method report</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js" integrity="sha512-OeZ4Yrb/W7d2W4rAMOO0HQ9Ro/aWLtpW9BUSR2UOWnSV2hprXLkkYnnCGc9NeLUxxE4ZG7zN16UuT1Elqq8Opg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/ruby/ruby.min.js" integrity="sha512-kIWQdD2Oq6DBWghYgnP6MpRMCuPxBvSI8/UBo7yxVm1blEPnNxVkwypVXky2KmIUgN2oNN7yd5TCeXJ48e867A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/search/searchcursor.min.js" integrity="sha512-+ZfZDC9gi1y9Xoxi9UUsSp+5k+AcFE0TRNjI0pfaAHQ7VZTaaoEpBZp9q9OvHdSomOze/7s5w27rcsYpT6xU6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <style>
		.animated {
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		.animated.faster {
			-webkit-animation-duration: 500ms;
			animation-duration: 500ms;
		}

		.fadeIn {
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
		}

		.fadeOut {
			-webkit-animation-name: fadeOut;
			animation-name: fadeOut;
		}

    .styled-background {
      background-color: grey;
    }

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@keyframes fadeOut {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}
	</style>
  <body class="p-5">
    <p class="text-3xl">Unused methods report</p>
    <div class="flex items-center gap-x-4 py-2">
      <p class="text-lg">File's Checked: <%= touched_files.size %></p>
      <p class="text-lg">Unused Methods Found: <%= unused_methods.size %></p>
    </div>
    <div class="flex flex-col py-2">
      <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    #
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Unused method
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Found in file
                  </th>
              </thead>
              <tbody>
                  <% unused_methods.each_with_index do |method, index| %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <%= index + 1%>
                      </td>
                      <td class="text-sm text-gray-900 font-lighter px-6 py-4 whitespace-nowrap">
                        <%= method[0] %>
                      </td>
                      <td class="text-sm text-gray-900 font-lighter px-6 py-4 whitespace-nowrap hover:text-blue-600 hover:underline hover:cursor" onclick="openModal('<%=method[0]%>', '<%= ERB::Util.url_encode(File.read(method[1]))%>', '<%=File.expand_path(method[1], __dir__)%>')">
                        <%= method[1] %>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster" style="background: rgba(0,0,0,.7);">
      <div
        class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-content py-4 text-left px-6">
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold" id="header">Header</p>
            <div class="modal-close cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
              </svg>
            </div>
          </div>
          <div class="my-5" id="body">
            <div id="editorjs"></div>
          </div>
          <div class="flex justify-end pt-2">
            <button
              class="focus:outline-none open-in-vscode px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300">
              Open file in vscode
            </button>
          </div>
        </div>
      </div>
	  </div>
  </body>
  <script>
    const modal = document.querySelector('.main-modal');
    const closeButton = document.querySelectorAll('.modal-close');

		const modalClose = () => {
			modal.classList.remove('fadeIn');
			modal.classList.add('fadeOut');
			setTimeout(() => {
				modal.style.display = 'none';
			}, 500);
		}

		const openModal = (header, content, file_path) => {
      const editorjs = document.getElementById("editorjs")
			modal.classList.remove('fadeOut');
			modal.classList.add('fadeIn');
			modal.style.display = 'flex';
      document.getElementById("header").innerHTML = header;
      editorjs.innerHTML = "";
      let editor = CodeMirror(editorjs, {
        value: decodeURIComponent(content),
        mode:  "ruby",
        readonly: true,
        lineNumbers: true,
      });
      const searchCursor = editor.getSearchCursor(header)
      if(searchCursor.findNext()) {
        editor.markText(searchCursor.from(), searchCursor.to(), { className: "styled-background" })
        editor.scrollIntoView({ from: searchCursor.from(), to: searchCursor.to() })
      }

      const openVsCodeBtn = modal.querySelectorAll('.open-in-vscode');
      openVsCodeBtn.onclick = () => window.open(`vscode://file/${file_path}:#${searchCursor.from()}`, '_blank');
		}

    for (let i = 0; i < closeButton.length; i++) {

			const elements = closeButton[i];

			elements.onclick = (e) => modalClose();

			modal.style.display = 'none';

			window.onclick = function (event) {
				if (event.target == modal) modalClose();
			}
		}
  </script>
</html>
